@model List<System.Globalization.CultureInfo>
@{
    ViewData["Title"] = "Вибір мови";
}

<h2>Оберіть мову</h2>

<div style="margin-top: 10px;">
    @foreach (var culture in Model)
    {
        <form asp-controller="SelectLanguage" asp-action="SetLanguage" method="post" style="display:inline">
            <input type="hidden" name="cultureName" value="@culture.Name" />
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <button type="submit" class="btn btn-sm btn-outline-primary" style="margin: 5px;">
                @culture.NativeName
            </button>
        </form>
    }
</div>