@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeMessage"]</h1>
    <p>
        <a asp-controller="SelectLanguage" asp-action="Index"
               asp-route-returnUrl="@Context.Request.Path">
            Змінити мову / Change language
        </a>
    </p>
</div>